.container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 20px auto;
}

.container div {
    padding: 120px;
    border: 1px solid black;
    border-radius: 8px;
}

h1 {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}
